<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sobre o Projeto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre o Projeto</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <h2>Trabalho OAT - Desenvolvimento Mobile</h2>
    <p>
      Este aplicativo foi desenvolvido por Jhon Luiz como parte do Trabalho OAT da disciplina de Desenvolvimento Mobile.
      Utilizando o framework Ionic, o projeto tem como objetivo explorar os conceitos fundamentais de criação de interfaces móveis híbridas,
      integração com componentes nativos e boas práticas de usabilidade.
    </p>
    <p>
      Agradecemos por visitar esta página e conhecer mais sobre o projeto!
    </p>
  </div>

</ion-content>
