<ion-header>
  <ion-toolbar>
    <ion-title>Editar Jogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="jogoForm" (ngSubmit)="salvar()">
    <ion-list>

      
      <ion-item>
        <ion-label position="stacked">Time da Casa</ion-label>
        <ion-input formControlName="timeCasa"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="jogoForm.get('timeCasa')?.touched && jogoForm.get('timeCasa')?.invalid">
        <small>O time da casa é obrigatório.</small>
      </ion-text>
     
      <ion-item>
        <ion-label position="stacked">Placar da Casa</ion-label>
        <ion-input type="number" formControlName="placarCasa"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="jogoForm.get('placarCasa')?.touched && jogoForm.get('placarCasa')?.invalid">
        <small>Informe um placar válido (mínimo 0).</small>
      </ion-text>

      <ion-item>
        <ion-label position="stacked">Placar Visitante</ion-label>
        <ion-input type="number" formControlName="placarVisitante"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="jogoForm.get('placarVisitante')?.touched && jogoForm.get('placarVisitante')?.invalid">
        <small>Informe um placar válido (mínimo 0).</small>
      </ion-text>

      
      <ion-item>
        <ion-label position="stacked">Time Visitante</ion-label>
        <ion-input formControlName="timeVisitante"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="jogoForm.get('timeVisitante')?.touched && jogoForm.get('timeVisitante')?.invalid">
        <small>O time visitante é obrigatório.</small>
      </ion-text>

   
      <ion-item>
        <ion-label position="stacked">Rodada</ion-label>
        <ion-input type="number" formControlName="rodada"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="jogoForm.get('rodada')?.touched && jogoForm.get('rodada')?.invalid">
        <small>Informe uma rodada válida (mínimo 1).</small>
      </ion-text>

    </ion-list>

  
    <ion-button expand="block" color="success" type="submit" [disabled]="jogoForm.invalid">
      Salvar
    </ion-button>

    <ion-button expand="block" color="danger" (click)="cancelar()" routerLink="/jogos">
      Cancelar
    </ion-button>
  </form>
</ion-content>
