<ion-header>
  <ion-toolbar>
    <ion-title>Jogos</ion-title>
    <!-- Add Button -->
      <ion-buttons slot="start" color="success">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="success" routerLink="/cadastrar-jogo">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        Novo Jogo
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Atualizar lista -->
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="search-card" >
    <ion-searchbar [(ngModel)]="termoBusca" placeholder="Buscar por time"></ion-searchbar>
    <div class="button-group">
      <ion-button class="filter-button" (click)="buscar()">
        <ion-icon name="funnel-outline" slot="start"></ion-icon>
        Filtrar
      </ion-button>
      <ion-button class="clear-button" (click)="limparFiltro()">
        <ion-icon name="close-circle-outline" slot="start"></ion-icon>
        Limpar
      </ion-button>
    </div>
  </div>
 
  <ion-list *ngIf="!loading && !error">
    <ion-item *ngFor="let jogo of jogos">
      <ion-label>
        <h2>{{ jogo.timeCasa }} {{ jogo.placarCasa }} x {{ jogo.placarVisitante }} {{ jogo.timeVisitante }}</h2>
        <p *ngIf="jogo.rodada">Rodada: {{ jogo.rodada }}</p>
      </ion-label>
           <ion-buttons slot="end">
           <ion-button fill="outline" color="primary" [routerLink]="['/editar-jogo', jogo._id]">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Editar
        </ion-button>
      </ion-buttons>
     
      <ion-button fill="outline" color="danger" (click)="confirmDelete(jogo._id)">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Excluir
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-spinner *ngIf="loading" name="dots" class="spinner-center"></ion-spinner>


  <div class="error" *ngIf="error">{{ error }}</div>
</ion-content>
